h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgb(212, 212, 194); width: 500px;    
}
div{
    width:450px; 
    height:800px;
    background-color: antiquewhite;
}
li{
    
}