h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgb(212, 212, 194); width: 500px;    
}
div{
    width:350px; 
    height:900px;
    background-color: antiquewhite;
    float: left;
    border:1px solid black;
    padding:20px;
}
.rightdiv
         {
         float: left;
         width: 750px;
         height: 900px;
        border:1px solid black;
        padding:20px;
         }
